* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

H1 {
  text-align: center;
  background-color: #be1717;
  text-decoration: solid black;
  opacity: 0.7;
  color: black;
  font-weight: bold;
  transition: 2s;
  padding: 1%; }
  H1:hover {
    opacity: 0.9;
    transform: scale(1.2); }

.subrayado::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #be1717;
  display: block;
  margin: auto;
  transition: 0.5s; }

.subrayado:hover::after {
  width: 100%; }
